version: '3.1'

services:

  adminer:
    build: ./adminer
    restart: always
    ports:
      - 8080:8080

  db:
    build: ./db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/var/lib/mysql