.dropdown-big {
    min-width: 400px
}

.dropdown-middle {
    min-width: 200px
}

.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.delete-btn, .move-btn {
    border: none;
    padding: 0;
    background: transparent;
    color: #337ab7;
}

.inline-block{
    display: inline-block;
}